html,
body,
#game-app {
	font-family: "Jura", sans-serif;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
}

.standardWindow {
	width: inherit;
	height: inherit;
	background-image: url("../img/fon2.gif");
	background-size: 100%;
}
#h3_0,
#h3_1,
#h3_2,
#h3_3 {
	margin-top: 0;
	font-family: "Jura";
	font-size: 35px;
	font-weight: 500;
	color: #ba55d3;
	/* position: absolute; */
	top: 5px;
	left: 5px;
}

#discription {
	margin-top: 0px;
	font-family: "Jura";
	font-size: 50px;
	font-weight: 500;
	color: #ffeb3b;
	text-align: center;
	margin-bottom: 30px;
}

#discription2 {
	font-family: "Jura";
	font-size: 35px;
	font-weight: 500;
	color: #ffeb3b;
	text-align: center;
	margin-bottom: 15px;
}

/* #start-block {
	background-color: red;
	height: 200px;
	width: 390px;
	position: relative;
	margin: 100px auto;
	box-shadow: 0 5px 5px 2px black;
	border-radius: 85px;
} */

#restart-button,
#start-button {
	display: block;
	position: relative;
	margin: 100px auto;
	background-color: #daa520;
	height: 163px;
	width: 381px;
	border-radius: 85px;
	border: solid 5px red;
	text-align: center;
	line-height: 150px;
	letter-spacing: 5px;
	font-family: "Jura";
	font-size: 90px;
	font-weight: bold;
	color: #ffffff;
	text-shadow: red 7px 7px 7px;
	box-shadow: red 10px 10px 10px;
}
#restart-button {
	text-align: center;
	font-size: 65px;
	line-height: 75px;
	letter-spacing: 5px;
}

#start-button::before {
	content: "START";
}

#restart-button:hover,
#start-button:hover {
	opacity: 0.7;
	background-color: #daa520;
	border: solid 5px rgb(77, 86, 214);
	text-shadow: rgb(77, 86, 214) 7px 7px 7px;
	box-shadow: rgb(77, 86, 214) 10px 10px 10px;
}

#start-button:hover::before {
	content: "GO...";
}

#restart-button:active,
#start-button:active {
	opacity: 0.99;
	background-color: red;
	border: solid 5px white;
	text-shadow: white 5px 5px 5px;
	box-shadow: white 10px 10px 10px;
}
#start-button:active::before {
	content: "GO!!!";
}

#game-field {
	background: black;
	display: block;
	width: 100%;
	height: 100%;
	background-image: url("../img/fon1.gif");
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	position: absolute;
}
.point-block {
	font-family: "Jura";
	font-size: 35px;
	font-weight: 500;
	color: #ba55d3;
	position: absolute;
	top: 5px;
	left: 5px;
}

.lifes-block {
	position: absolute;
	top: 20px;
	right: 20px;
}

.lifes-block img {
	height: 50px;
	width: 50px;
	display: block;
	float: right;
	margin-left: auto;
}

.starship {
	background-image: url("../img/starship.gif");
	transition: all, 0.05s;
	width: 80px;
	height: 120px;
	display: block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: calc(100% - 70px);
	left: 50%;
	transform: translate(-50%, -50%);
}
.starship-explosion {
	background-image: url("../img/starship-explosion.gif");
	width: 150px;
	height: 150px;
	display: block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: calc(100% - 70px);
	left: 50%;
	transform: translate(-50%, -50%);
}
#bullet {
	background: #09e3fffa;
	height: 13px;
	width: 3px;
	position: absolute;
	bottom: 30px;
	transition: all 1s;
	/* transition-duration: 3s; */
}
.chicken {
	background-image: url("../img/chicken.gif");
	width: 100px;
	height: 100px;
	display: block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	transform: translate(50%, 50%);
}
.chicken-explosion {
	background-image: url("../img/chicken-explosion.gif");
	width: 150px;
	height: 150px;
	display: block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
}

.bonus {
	background-image: url("../img/bonus/burger.gif");
	transition: all 1s;
	width: 40px;
	height: 40px;
	display: block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	transform: translate(100%, 150%);
}

.sound-volume {
	font-family: "Jura";
	color: #ba55d3;
	position: absolute;
	width: 125px;
	height: 75px;
	bottom: 50px;
	right: 5px;
	opacity: 0.7;
}
#simbol {
	font-size: 35px;
	cursor: pointer;
	user-select: none;
}
#louder {
	font-size: 25px;
	cursor: pointer;
	user-select: none;
}
#quieter {
	font-size: 25px;
	cursor: pointer;
	user-select: none;
}

#fullScreen {
	user-select: none;
	background-color: #daa520;
	font-size: 35px;
	cursor: pointer;
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: 150px;
	right: 15px;
	text-align: center;
	opacity: 0.7;
}
